page-login {
    .formInput{
        background-color: inherit;
        line-height: 50%;
        color:white;
        
    }
    .item{
        background-color: inherit;
        color:white;
    }
    .lable{
        white-space: normal;
    }
    .content{
        background-color:goldenrod;
    }
    .imgIconStyle{
        background-color:inherit;
        width: 50%;
    }
}
