page-profile {
    .headerProfile{
        width: 100%;
        height: 40vh;
        position: relative;
        background-image: url("../../assets/imgs/backgroundProfile.png");
        background-repeat: no-repeat,repeat;
        background-size: cover;
    }
    
    .avata{
        background-color: inherit;
        width: 150px; 
        height:150px;
        border-radius: 10px;
        position: absolute;
        bottom: 15px;
        left:25%
    }

    .content{
        ion-item{
            line-height: 150%;
        }
    }
}
