ion-calendar {
  font-family: Helvetica, Arial, sans-serif;
  .center {
    text-align: center;
  }
  .calendar-header-col {
    font-size: 1rem;
    color: #666;
  }
  .select-month{
    color: #666666;
    font-size: 22px;
    ion-col{
      ion-icon{
        font-size: 25px;
      }
    }
  }
  .calendar-row {
    &:last-child {
      border-bottom: 1px solid #eee;
    }
    .calendar-col {
      display: flex;
      justify-content: center;
      padding: 0.8rem;
      font-size: 1.2rem;
      border-left: 0px solid #eee;
      border-top: 0px solid #eee;
      &:last-child {
        border-right: 1px solid #eee;
      }
      color: #666666;
    }
    .not-this-month {
      color: #989898;
      background: #eee;
    }
    .today {
      // color: #fff;
      // box-shadow: inset 0 0 10px #aaa;
      // background: #46b592;
    }
    .eventBlip {
      background: #46b592;
      width: 6.5px;
      height: 6.5px;
      display: inline-block;
      border-radius: 6.5px;
      position: absolute;
      top: 3.5px;
      right: 3.5px;
    }
    .select {
      box-shadow: none;
      color: red;
      font-weight: bold;
    }
    .ontime {
      box-shadow: none;
      color: #296291;
      background: #d6fdec;
    }
    .onleave {
      box-shadow: none;
      color: #296291;
      background: #d0dfea;
    }
    .late {
      box-shadow: none;
      color: #296291;
      background: #fcebcf;
    }
    .verylate {
      box-shadow: none;
      color: #296291;
      background: #f3b3b2;
    }
    .absent {
      box-shadow: none;
      color: #296291;
      background: #e6cdfb;
    }
    .leavestatus{
      box-shadow: none;
      color: white;
      background: #4F8AD0;
    }
  }
}
