<!--
  Generated template for the AttendancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar>
    <button style="color:white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Attendance</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-calendar #calendar (onMonthSelect)="onMonthSelect($event)" [status]="myAttendace"></ion-calendar>
  <ion-list-header no-lines no-padding>
    <button ion-item (click)="showColorCode = !showColorCode;showAtenden=false;showAtendenRP=false" detail-none>
      <ion-icon item-right name="md-arrow-dropdown" *ngIf="!showColorCode"></ion-icon>
      <ion-icon item-right name="md-arrow-dropup" *ngIf="showColorCode"></ion-icon>
      Color code
    </button>

    <ion-item *ngIf="showColorCode" [@enterAnimation] ion-item detail text-wrap>
      <ion-grid class="colorcode">
        <ion-row>
          <ion-col>
            <ion-icon style="color:#C6FDE8" name="radio-button-on"></ion-icon>
            On-time
          </ion-col>
          <ion-col>
            <ion-icon style="color:#D0DFEA" name="radio-button-on"></ion-icon>
            Onleave
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon style="color:#FCEBCF" name="radio-button-on"></ion-icon>
            Late
          </ion-col>
          <ion-col>
            <ion-icon style="color:#F3B3B2" name="radio-button-on"></ion-icon>
            Very late
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon style="color:#E6CDFB" name="radio-button-on"></ion-icon>
            Absent
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <button (click)="showAtenden = !showAtenden;showColorCode=false;showAtendenRP=false;" ion-item detail-none>
      <ion-icon item-right name="md-arrow-dropdown" *ngIf="!showAtenden"></ion-icon>
      <ion-icon item-right name="md-arrow-dropup" *ngIf="showAtenden"></ion-icon>
      My Attendance
    </button>
    <ion-item *ngIf="showAtenden" [@enterAnimation] ion-item detail text-wrap>
      <ion-card *ngFor="let atten of myAttendace" class="attenden">
        <ion-card-header style="text-align:end;background-color:#EEEEEE">{{atten.date | date:'d/M/yy'}}</ion-card-header>
        <ion-card-content>
          <!-- <div style="text-align:end;background-color:#EEEEEE">{{atten.date}}</div> -->
          <div class="checkout">
            <span>Checkout</span>
          </div>
          <div *ngIf="atten.checkout" class="checkout-time"> {{atten.checkout}}</div>
          <div class="checkin">
            <span>Check In</span>
            <span style="float:right">{{atten.status}}</span>
          </div>
          <div *ngIf="atten.checkin" class="checkin-time"> {{atten.checkin}}</div>
        </ion-card-content>
      </ion-card>

    </ion-item>
    <button (click)="showAtendenRP = !showAtendenRP;showAtenden=false;showColorCode=false" ion-item detail-none>
      <ion-icon item-right name="md-arrow-dropdown" *ngIf="!showAtendenRP"></ion-icon>
      <ion-icon item-right name="md-arrow-dropup" *ngIf="showAtendenRP"></ion-icon>
      My Attendance Report
    </button>
    <ion-item *ngIf="showAtendenRP" [@enterAnimation] ion-item detail text-wrap>
    <div text-center>
      <circle-progress [percent]="(100-attedance_report_percen.absent)" [responsive] = "false" [titleFontSize]="35" [radius]="110" [outerStrokeWidth]="10" [innerStrokeWidth]="5" [outerStrokeColor]="'#4397C7'"
        [innerStrokeColor]="'#4397C7'" [animation]="false" [toFixed]=2 [showSubtitle]="false" [animationDuration]="0"></circle-progress>
    </div>
      <h2 class="text-end month">{{today | date :'MMMM'}}</h2>
      <h4 class="text-end month">Monthly Attendence</h4>
      <h5 class="text-end">As of {{today | date:'dd MMMM yyyy'}}</h5>
      <ion-grid>
        <ion-row style="color:white;background-color:#296291;text-align:center">
          <ion-col>On time</ion-col>
          <ion-col>On leave</ion-col>
        </ion-row>
        <ion-row style="text-align:center;font-size:40px">
          <ion-col style="color:#4397C7">{{attedance_report_percen.ontime}}%</ion-col>
          <ion-col style="color:#F19E9C">{{attedance_report_percen.onleave}}%</ion-col>
        </ion-row>
        <ion-row style="text-align:center">
          <ion-col>{{attedance_report_count.ontime}} days</ion-col>
          <ion-col>{{attedance_report_count.onleave}} days</ion-col>
        </ion-row>
        <ion-row style="color:white;background-color:#296291;text-align:center">
          <ion-col>Late</ion-col>
          <ion-col>Very late</ion-col>
        </ion-row>
        <ion-row style="text-align:center;font-size:40px">
          <ion-col style="color:#719898">{{attedance_report_percen.late}}%</ion-col>
          <ion-col style="color:#67C99C">{{attedance_report_percen.verylate}}%</ion-col>
        </ion-row>
        <ion-row style="text-align:center">
          <ion-col>{{attedance_report_count.late}} days</ion-col>
          <ion-col>{{attedance_report_count.verylate}} days</ion-col>
        </ion-row>
        <ion-row style="color:white;background-color:#296291;text-align:center">
          <ion-col>Absence</ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row style="text-align:center;font-size:40px">
          <ion-col style="color:#EB4826">{{attedance_report_percen.absent}}%</ion-col>
          <ion-col style="color:#F19E9C"></ion-col>
        </ion-row>
        <ion-row style="text-align:center">
          <ion-col>{{attedance_report_count.absent}}days</ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list-header>
</ion-content>