page-attendance {
  ion-calendar .calendar-row .calendar-col {
    border: 0px;
  }

  ion-content ion-list-header button {
    color: white !important;
    background-color: #296291 !important;
    margin-top: 1px !important;
    font-weight: bold !important;
  }
  ion-card-header{
    padding:0px 10px 0px 0px !important;
    height: 45px;
    line-height: 45px;
  }
  ion-card-content{
    padding: 0px 0px 14px 0px !important;
  }

  .list-header-ios {
    text-transform: none !important;
  }

  .text-end {
    text-align: end;
    padding-right: 15px;
  }
  .item-inner{
    padding-right: 0px !important;
  }
  .checkout {
    background: url('../../assets/imgs/checkout.png') no-repeat center;
    background-size: cover;
    height: 30px;
    color: white;
    font-weight: bold;
    line-height: 30px;
  }

  .checkout-time {
    margin-bottom: 7px;
    text-align: end;
    font-size: 28px;
    color: #C2C2C2;
    width: 100%;  
  }

  .checkin-time {
    text-align: end;
    color: #64CDCF;
    font-size: 28px;
    width: 100%;
    margin-bottom: 7px;
    float: right;    
  }
  
  .checkin {
    background: url('../../assets/imgs/chekin.png') no-repeat center;
    background-size: cover;
    height: 30px;
    color: white;
    font-weight: bold;
    line-height: 30px;
  }
  .month{
    color: #4197C7;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 0px;
  }
  .monthly-title{
    color: #4197C7;
    font-weight: bold;
    font-size: 22px;
  }
  .today{
    margin-top: 5px;
  }
  .toolbar-background {
    background-color: #006699;
    color: white;
  }

  .toolbar-title-ios {
    color: white !important;
  }

  .toolbar-title-md {
    color: white
  }
  .attenden{
    line-height: 32px;
    color: #666666;
    margin-bottom: 10px;
    div{
      height: 32px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  ion-label .label{
    margin:10px 0px 10px 0px !important;
  }
  ion-item{
    padding-left: 0px !important; 
  }
  .colorcode{
     ion-col{
       padding-left: 12%;
       color: #666666;
       font-size: 19px;
     }
  }
  .card-content-md{
    padding: 0 0 0 0 !important; 
  }
}
