page-claim {
  font-family: "Eurostile" !important;

  .list-header-ios {
    text-transform: none !important
  }

  ion-content .leaveavai {
    border-bottom: 5px solid #A6CD56 !important;
    background-color: #F5F5F5 !important;
    font-size: 15px;
    color: #333333
  }

  ion-col {
    width: 33%;
  }

  .tab {
    margin-top: 80px;
    position: relative;
    font-size: large;

    button {
      width: 50%;
      position: absolute;
      bottom: 0;
      font-size: 16px !important;
    }

    .active {
      height: 50px;
      background: #A3C93E;
      color: white
    }

    .non-active {
      height: 35px;
      background-color: #DDDDDD
    }
  }

  .list-ios {
    margin: -1px 0 10px !important;
  }

  ion-datetime {
    border: 1px solid saddlebrown;
    width: 40%;
    border-radius: 5px;

  }

  ion-select {
    margin-left: 10px;
    border: 1px solid saddlebrown;
    border-radius: 5px;
  }

  .camera {
    color: #C9C9C9;

    ion-icon {
      float: right;
      font-size: 50px;
    }
  }

  .status {
    font-size: 18px;
  }

  .toolbar-background {
    background-color: #A1C73D;
    color: white
  }

  .toolbar-title-ios {
    color: white !important
  }

  .toolbar-title-md {
    color: white
  }

  ion-list-header {
    color: white !important;


  }

  .typeofclaim {
    background-color: #A4CA9D !important;
    font-size: 18px;
  }

  .remark {
    background-color: #BEDABA !important;
    font-size: 18px;

  }

  .submit {
    background-color: #74902D !important;
    font-size: 18px;

  }
}
