page-leave {
  font-family: "Eurostile" !important;

  .list-header-ios {
    text-transform: none !important
  }

  ion-content .leaveavai {
    border-bottom: 5px solid #4397C7 !important;
    background-color: #F5F5F5 !important;
  }

  ion-item ion-label {
    color: #666666;
  }
  ion-col{
    // padding: 0px 10px 0px 10px;
  }
  .tab {
    margin-top: 50px;
    position: relative;
    font-size: 18px !important;

    button {
      width: 50%;
      position: absolute;
      bottom: 0;
      font-size: 16px !important;
    }

    .active {
      height: 40px;
      background: #4397C7;
      color: white
    }

    .non-active {
      height: 30px;
      background-color: #DDDDDD;
      color: #666666;
    }
  }

  .list-ios {
    margin: -1px 0 10px !important;
  }

  ion-datetime {
    border: 1px solid #666666;
    width: 45%;
    border-radius: 5px;
  }

  .camera {
    color: #C9C9C9;

    ion-icon {
      float: right;
      font-size: 50px;
    }
  }

  .status {
    font-size: 18px;
  }

  ion-select {
    margin-left: 10px;
    border: 1px solid #666666;
    border-radius: 5px;
  }

  .toolbar-background {
    background-color: #2A6595;
    color: white
  }

  .toolbar-title-ios {
    color: white !important
  }

  .toolbar-title-md {
    color: white
  }

  ion-list-header {
    color: white !important;
  }

  .typeofleave {
    background-color: #4397C7 !important;
    font-size: 18px;
  }
  .submit{
    background-color: #2A6595 !important;
    font-size: 18px;
  }

  .remark {
    background-color: #80B6D7 !important;
    font-size: 18px;
  }
  .picker-md .picker-toolbar{
    background-color: #4397C7 !important;
  }
  .picker-columns,
 .picker-toolbar,
 .picker-md .picker-wrapper,
 .picker-md .picker-toolbar
  {
  //background: map-get($colors,primary-dark);
  background-color: #4397C7 !important
}


}
