<!--
  Generated template for the LeavePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button style="color:white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Leave</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-item style="margin-top:5px" no-lines>
    <ion-label>Approver:</ion-label>
    <ion-label style="font-weight: bolder">Steven Chong</ion-label>
  </ion-item>
  <button class="leaveavai" ion-item (click)="show = !show" detail-none>
    <ion-icon item-right name="md-arrow-dropdown" *ngIf="!show"></ion-icon>
    <ion-icon item-right name="md-arrow-dropup" *ngIf="show"></ion-icon>
    Annual Leave availible: 8 days
  </button>
  <ion-item style="background-color:#4397C7" *ngIf="show">
    <ion-grid>
      <ion-row style="text-align:start;color:white">
        <ion-col col-6>Annual</ion-col>
        <ion-col>11/14</ion-col>
        <ion-col>days</ion-col>
      </ion-row>
      <ion-row style="text-align:start;color:white">
        <ion-col col-6>Time of in lieu</ion-col>
        <ion-col>11/14</ion-col>
        <ion-col>days</ion-col>
      </ion-row>
      <ion-row style="text-align:start;color:white">
        <ion-col col-6>Medical</ion-col>
        <ion-col>11/14</ion-col>
        <ion-col>days</ion-col>
      </ion-row>
      <ion-row style="text-align:start;color:white">
        <ion-col col-6>Maternity</ion-col>
        <ion-col>11/14</ion-col>
        <ion-col>days</ion-col>
      </ion-row>
      <ion-row style="text-align:start;color:white">
        <ion-col col-6>Compassionate</ion-col>
        <ion-col>11/14</ion-col>
        <ion-col>days</ion-col>
      </ion-row>
      <ion-row style="text-align:start;color:white">
        <ion-col col-6>Pilgrimage</ion-col>
        <ion-col>11/14</ion-col>
        <ion-col>days</ion-col>
      </ion-row>
    </ion-grid>

  </ion-item>
  <div style="text-align: center;color:white;height:55px;">
    <div (click)="show = !show" style="background-color:#4397C7;border-radius:0px 0px 4px 4px;width: 40%;margin: 0 auto;font-size: 16px;height: 28px;line-height: 25px;">Details</div>
  </div>
  <div class="tab">
    <button (click)="tab_show = true" [ngClass]="tab_show ? 'active': 'non-active'">Apply</button>
    <button style="left: 50%;" (click)="tab_show = false" [ngClass]="!tab_show ? 'active': 'non-active'">Status</button>
  </div>
  <div style="margin-top:10px" *ngIf="tab_show">
    <ion-item no-lines>
      <ion-label>Application date: {{today}}</ion-label>
    </ion-item>

    <ion-list radio-group [formControl]="leavetype">
      <ion-list-header class="typeofleave" (click)="showLeaveRequest(0)">
        <ion-icon item-right name="md-arrow-dropdown" *ngIf="!show_type_of_leave"></ion-icon>
        <ion-icon item-right name="md-arrow-dropup" *ngIf="show_type_of_leave"></ion-icon>
        Type of leave
      </ion-list-header>
      <div *ngIf="showLeave[0]">
        <ion-item *ngFor="let item of type_of_leave;let i = index" no-lines>
          <ion-label>{{item}}</ion-label>
          <ion-radio [value]="i"></ion-radio>
        </ion-item>
      </div>
    </ion-list>

    <ion-list>
      <ion-list-header class="typeofleave" (click)="showLeaveRequest(1)">
        Date
        <ion-icon item-right name="md-calendar"></ion-icon>
      </ion-list-header>
      <div *ngIf="showLeave[1]">
        <ion-item style="margin-top:10px;" no-lines>
          <ion-label>Start</ion-label>
          <ion-datetime [formControl]="fromdate" displayFormat="MM/DD/YYYY" pickerFormat="MM DD YYYY" [max]="2099-31-12" (ionChange)="countDateApply()"></ion-datetime>
          <ion-select (ionChange)="countDateApply()" [(ngModel)]="from_a" interface="popover">
            <ion-option value="am">AM</ion-option>
            <ion-option value="pm">PM</ion-option>
          </ion-select>
        </ion-item>
        <ion-item style="margin-top:10px;" no-lines>
          <ion-label>End </ion-label>
          <ion-datetime (ionChange)="countDateApply()" [formControl]="todate" displayFormat="MM/DD/YYYY" pickerFormat="MM DD YYYY"
            [min]="fromdate.value ? fromdate.value :2016 " [max]="2099-31-12"></ion-datetime>
          <ion-select (ionChange)="countDateApply()" [(ngModel)]="to_a" interface="popover">
            <ion-option value="am">AM</ion-option>
            <ion-option value="pm">PM</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Day(s) Applied : {{date_apply.value}}</ion-label>
        </ion-item>
        <ion-calendar #calendar [events]="currentEvents" (onDaySelect)="onDaySelect($event)" [(leaveFromDate)]="fromdate.value" [(leaveToDate)]="todate.value"></ion-calendar>
        <ion-card style="margin-bottom:25px;">
          <ion-card-header style="background-color:#EEEEEE">
            Events
          </ion-card-header>
          <ion-list>
            <button *ngFor="let event of todayEvents" ion-item no-lines detail-none>
              <ion-icon ios="ios-checkmark" md="md-checkmark" item-start></ion-icon>
              {{event}}
            </button>
          </ion-list>
        </ion-card>
      </div>
    </ion-list>
    <ion-list>
      <ion-list-header class="remark" (click)="showLeaveRequest(2)">
        Remark
        <ion-icon item-right name="md-arrow-dropdown" *ngIf="!isRemark"></ion-icon>
        <ion-icon item-right name="md-arrow-dropup" *ngIf="isRemark"></ion-icon>
      </ion-list-header>
      <ion-item no-lines *ngIf="showLeave[2]">
        <ion-input [formControl]="remark" placeholder="Input remark" type="text" value=""></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header class="remark" (click)="showLeaveRequest(3)">
        Attachment (optional)
        <ion-icon item-right name="md-arrow-dropdown" *ngIf="!isAttachment"></ion-icon>
        <ion-icon item-right name="md-arrow-dropup" *ngIf="isAttachment"></ion-icon>
      </ion-list-header>
      <ion-item no-lines *ngIf="showLeave[3]">
        <ion-label class="camera" (click)="presentActionSheet()">Open Camera
          <ion-icon name="md-camera"></ion-icon>
        </ion-label>
      </ion-item>
      <img [src]="base64Image" *ngIf="base64Image" />

    </ion-list>
    <ion-list>
      <ion-list-header class="submit">
        <ion-label (click)="logForm()" type="submit">Submit</ion-label>
        <ion-icon item-right name="ios-arrow-forward"></ion-icon>
      </ion-list-header>
    </ion-list>
  </div>
  <div *ngIf="!tab_show">
    <ion-grid class="status">
      <ion-row style="margin-top:20px;margin-bottom:20px;">
        <ion-col col-4>Applied on</ion-col>
        <ion-col col-5>Type</ion-col>
        <ion-col col-3>Status</ion-col>
      </ion-row>
      <div *ngFor="let leave of (myleave | async); let i = index">
        <ion-row (click)="collaspeStatus(i)" style="background-color:#F4F4F4;height:40px;margin-top: 10px;line-height: 40px;">
          <ion-col col-4>{{leave.created_at }}</ion-col>
          <ion-col col-5> {{type_of_leave[leave.leave_type]}}</ion-col>
          <ion-col col-3>
            <img [src]="icon_status[leave.leave_status]">
          </ion-col>
        </ion-row>
        <ion-row class="leave-details" *ngIf="leave.show">
          <ion-col style="background-color:#8AB1C9;color:white;" col-12>{{status_leave[leave.leave_status]}}
            <span style="float:right">AM to PM</span>
          </ion-col>
          <ion-col style="padding:10px 0px 10px 0px" col-12>Last Update
            <span style="float:right">07 Nov 2018</span>
          </ion-col>
          <ion-col style="padding:10px 0px 10px 0px" col-12>

            Day(s) Applied : {{leave.date_applied}}

          </ion-col>
          <ion-col col-12>

            <ion-calendar #calendar [leaveFromDate]="leave.leave_from_date" [leaveToDate]="leave.leave_to_date"></ion-calendar>
          </ion-col>
          <img style="width:500px;height:500px;" [src]="leave.image" *ngIf="leave.image" />

        </ion-row>
      </div>
    </ion-grid>
  </div>
  <!-- <button (click)="onClick()">aaaaaa</button> -->
</ion-content>